

#navbar {
    background-color: #84adff;
    color: rgb(21, 0, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 7px 6px #84adff;
}

#navbar a {
    color: rgba(255, 255, 255, 0.929);
    text-decoration: none;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 8px;
    margin: 0 4px;
}

#navbar ul li a:hover {
    background-color: #053a8a;
    border-radius: 5px;
    
    ;
}


.idk {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.nadpis {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgb(13, 0, 255);
}
.fotka_logo {
    max-width: 300px;
    display: block;
    margin: auto;

}
.linky {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}