

#navbar {
    background-color: #84adff;
    color: rgb(21, 0, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 0 7px 6px #84adff;
}

#navbar a {
    color: rgba(255, 255, 255, 0.929);
    text-decoration: none;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 8px;
    margin: 0 4px;
}

#navbar ul li a:hover {
    background-color: #053a8a;
    border-radius: 5px;
    
    ;
}

.big-font {
    font-size: 2rem;
    font-weight: bold;
}

.idk {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    border-radius: 20px;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.nadpis {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgb(13, 0, 255);
}
.fotka_logo {
    max-width: 300px;
    display: block;
    margin: auto;

}
.linky {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 500px) { 
  .fa-solid .fa-house {
    display: inline;
  }
  .home-text {
    display: none;
  }

  }
.home-icon {
  display: none;
}
.home-text {
  display: inline;
}

#navbar ul li a i {
  margin-right: 0.5rem; 
}

@media (max-width: 37.5rem) { 
  #navbar ul li a {
    font-size: 0; /* skryje text */
  }

  #navbar ul li a i {
    font-size: 1.5rem; 
    margin: 0 0.625rem; 
  }

  #navbar ul {
    gap: 1.25rem; 
  }
}